* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.crypto__tracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282828;
}
.crypto__searchHeading {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.crypto__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 60%;
}

.crypto__searchBar {
  padding: 15px;
  margin-top: 10px;
  width: 40%;
  border: none;
  background-color: #ebebed;
  border-radius: 3px;
  outline: none;
}

.crypto__searchBar::placeholder {
  color: #8a898d;
}

.crypto__container {
  width: 80%;
  height: 100vh;
  margin: auto;
  margin-bottom: 30px;
  background-color: #282828;
}
